html {
  background-color: black;
  color: antiquewhite;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    border-bottom: 1px solid #ccc;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
}

h1 {
    text-align: center;
    flex-grow: 1;
    margin: 0;
    font-family: Qwitcher Grypen;
    font-size: 150px;
    font-weight: 400;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50% 0 50% 50%;
}

#actualAge {
    color: antiquewhite;
}